
.root {
  display: flex;
  flex-direction: horizontal;
  align-items: bottom;
  justify-content: space;
}

.gpio-pins {
  & td {
    width: 3.0rem;
    text-align: center;
  }
}

.power, .ground, .uart, .i2c, .spi, .gpio, .dnc {
  text-align: center;
}

.pin {
  background-color: white;
  color: black;
}
.power {
  background-color: red;
  color: white;
}
.ground {
  background-color: blue;
  color: white;
}
.uart {
  background-color: gray;
  color: black;
}
.i2c {
  background-color: green;
  color: white;
}
.spi {
  background-color: orange;
  color: black;
}
.gpio {
  background-color: khaki;
  color: black;
}
.dnc {
  background-color: black;
  color: white;
}
