snippet yc 
{{#$1}}
		$0
{{/$1}}
endsnippet


snippet youtube
<a href="http://www.youtube.com/watch?feature=player_embedded&v=${1:VIDEO_ID}
" target="_blank"><img src="http://img.youtube.com/vi/$1/0.jpg"
alt="${0:Image Alt Text}" width="240" height="180" border="10" /></a>
endsnippet


