/* Every Layout will have these */
@import '../../../../../node_modules/normalize.css/normalize.css';
@import '../../../css/variables.css';
@import '../../../css/base.css';
/* -----------------------------*/

@import '../../../css/container.css';

.root {
    min-height: 100vh;
    /*max-height: 100vh;*/
    display: flex;
    flex-direction: column;
}

.top-bar {
    flex: 0 0 5.0rem;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.nav {
    display: none;
}

.article {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.article-contents {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.article-header {
    /*flex: 0 0 5.0rem;*/
    /*background-color: red;*/
}

.article-body {
    flex: 1;
    display: flex;
}

@media only screen and (min-width: 768px) {

    .nav {
        flex: 0 0 25%;
        min-width: var(--nav-min-width);
        
        display: flex;
        flex-direction: column;
    }
}


